@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --mainbg-color: white;
  --span-color: #090909;
  --line-color: white;
  --border-color: rgba(0, 0, 0, 0);
  --like-color: black;
  --comment-color: rgba(0, 0, 0, 0.752);
  --line-color: #cdcdcd;
}
.dark-theme {
  --mainbg-color: #090909;
  --span-color: #f2f2f2df;
  --line-color: #090909;
  --border-color: #c8c8c8a8;
  --like-color: white;
  --comment-color: rgba(255, 255, 255, 0.664);
  --line-color: #2b2b2bcf;
}
iframe {
  border: 1px solid #ffffff21 !important;
}
.like-icon {
  color: var(--like-color);
}
span {
  color: var(--span-color);
}
.profile-icon {
  border: 1px solid white;
  border-radius: 50%;
}
.App {
  overflow: hidden;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: roboto;
}
.main-logo {
  width: 150px;
  height: auto;
}
.responsive-logo {
  width: 150px;
  height: auto;
}
.sidebar-icon svg {
  width: 28px;
  height: auto;
}
.sidebar-content span {
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
.activepage {
  font-weight: 700 !important;
}
.sidebar-content {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 10px 10px 10px;
  margin: 0px 13px;
}
.sidebar-logo {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 10px 10px 10px;
}
.offcanvas {
  justify-content: center;
}
.offcanvas-lg .offcanvas-body {
  height: 100%;
  flex-direction: column;
  gap: 20px;
  height: calc(100vh - 100px);
  overflow: auto;
  overflow-y: scroll;
}

.sidebar-footer {
  margin-top: auto;
  margin-bottom: 20px;
}
.sidebar-alignment {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  padding-top: 20px;
}
.dropdown-list ul {
  border: 1px solid #b8b8b88c;
  border-radius: 10px;
  box-shadow: rgb(220 220 220 / 3%) 0px 1px 2px 0px,
    rgba(188, 188, 188, 0.075) 0px 1px 3px 1px;
  padding: 20px;
  list-style-type: none;
  background-color: var(--mainbg-color);
  cursor: pointer;
}
.dropdown-list {
  position: relative;
  width: 165px;
  margin: auto;
}
.dropdown-list ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  padding: 5px 0px;
  color: var(--span-color);
}
.dropdown-list ul::before {
  content: "";
  position: absolute;
  left: 38px;
  top: -7px;
  width: 14px;
  height: 14px;
  transform: rotate(46deg);
  background-color: var(--mainbg-color);
  border-left: 1px solid #c6c6c6;
  border-top: 1px solid #bcbcbc;
}
.sidebar-content:hover {
  background-color: #cacaca37;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.1s linear;
}
.sidebar-content:hover svg {
  transform: scale(1.1);
  transition: all 0.2s linear;
}
.sidebar-width {
  height: 100vh;
  display: flex;
  background-color: var(--mainbg-color);
  border-right: 1px solid var(--line-color);
}

.owl-theme .item img {
  height: 65px;
  width: 65px !important;
  border-radius: 50%;
  object-fit: cover;
  padding: 1.5px;
}
.owl-theme .my-story img:first-child {
  border: 1px solid var(--border-color);
}
.gradient-border {
  position: relative;
  padding: 2px 1px 0px 1px;
  text-align: center;
  border-radius: 50%;
  background: linear-gradient(
    65deg,
    rgba(249, 240, 52, 1) 0%,
    rgba(238, 42, 123, 1) 75%,
    rgba(210, 40, 215, 1) 100%
  );
  width: 71px;
  height: 70px;
}
.gradient-border img {
  background: var(--line-color);
}

.gradient-border::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: inherit;
  z-index: -1;
}

.avatar-size {
  width: 70px !important;
  height: 70px !important;
  background-color: rgba(111, 224, 111, 0.958);
}
.item span {
  max-width: 74px;
  font-size: 12px;
  font-weight: 500;
  text-overflow: ellipsis;
  display: inline-flex;
  justify-content: center;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  display: none;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 13px !important;
  color: rgb(59, 59, 59);
  font-weight: 600;
  padding-left: 0px;
}
.swiper-button-next,
.swiper-button-prev {
  background-color: #ffffffd1;
  border: none;
  border-radius: 50px;
  box-shadow: 0 7px 29px 0 hsla(240, 5%, 41%, 0.37);
  height: 26px !important;
  top: 57%;
  right: 10px;
  width: 26px !important;
}
.my-story .icon {
  position: absolute;
  bottom: 23px;
  left: 56px;
  transform: translateX(-45%);
  width: 20px;
  height: 20px;
  background-color: #007bff;
  color: white;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.my-story {
  display: inline-block;
  flex-direction: column;
}
.post-section .brand {
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
.post-section .brand svg {
  color: #495eff;
}
.brand-two svg {
  color: #495eff;
}
.brand-two {
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 0px;
  color: var(--span-color);
}
.post-section .brand span {
  font-size: 14px;
  font-weight: 300;
}

.brand-top {
  display: flex;
  align-items: center;
  gap: 10px;
}
.three-dot svg {
  color: var(--span-color);
}
.msg-dot svg {
  color: var(--span-color);
  font-size: 27px;
}
.more-option-dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 45px;
  gap: 20px;
}
.more-option-dialog span {
  font-size: 14px;
  font-weight: 400;
  color: #111111;
  padding: 0px 0px;
  cursor: pointer;
  height: 100%;
  width: auto;
  /* width: 100%; */
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.post-image {
  border-radius: 5px;
  max-width: 99%;
  margin: 15px 0px 0px 0px;
  object-fit: cover;
}
.comment-box {
  font-size: 30px;
  color: var(--like-color);
  transform: scaleX(-1);
  cursor: pointer;
}
.share-icon {
  font-size: 27px;
  color: var(--span-color);
  cursor: pointer;
}
.post-section {
  width: 85%;
  margin: auto;
}
.css-17o22dy-MuiAvatar-root {
  height: 26px;
  width: 26px;
}
.css-17o22dy-MuiAvatar-root {
  height: 24px !important;
  width: 24px !important;
  font-size: 13px !important;
}
.css-yiavyu-MuiBackdrop-root-MuiDialog-backdrop {
  background-color: rgba(0, 0, 0, 0.103) !important;
}
.likes-icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 5px;
  padding: 10px 0px;
}
.likes-icon span {
  font-size: 14px;
  font-weight: 500;
  padding-left: 6px;
}
.post-footer {
  margin-left: 18px;
  margin-bottom: 20px;
}
.content-footer span {
  font-size: 14px;
  font-weight: 400;
  padding: 8px;
}
.swiper-pagination-bullet {
  background-color: white !important;
}
.slider {
  border-radius: 5px;
  object-fit: cover;
}
.slider .mySwiper {
  width: 100%;
  height: 100%;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.post-section {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
}
::-webkit-scrollbar {
  width: 0px;
}
.post-section::-webkit-scrollbar {
  width: 0px;
}
.post-section::-webkit-scrollbar-track {
  background: rgba(206, 206, 206, 0.532);
}
.post-section::-webkit-scrollbar-thumb {
  background: rgba(178, 178, 178, 0.805);
  border-radius: 100px;
}
.css-1v5u2yv {
  padding: 0px !important;
  display: none;
}
.offcanvas-backdrop.show {
  opacity: 0 !important;
}
.messageicon {
  display: none;
  margin-left: auto;
}
.messageicon svg {
  color: var(--span-color);
}
.profile {
  width: 32px;
  border-radius: 50%;
  height: 32px;
  object-fit: cover;
  border: 2px solid #7a7a7a;
  padding: 0.3px;
}
.responsive-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.custom-backdrop {
  display: block;
  height: 100vh;
  width: 90%;
  margin: auto;
  background-color: var(--mainbg-color) !important;
}
.desktop-offcanvas-header {
  display: flex !important;
  padding: 40px 0px 30px 0px !important;
  height: 100px;
}
.desktop-offcanvas-header button {
  display: none;
}
.message-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.message-heading {
  display: flex;
  justify-content: space-between;
}
.message-heading span:first-child {
  color: var(--span-color);
  font-size: 17px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
}
.message-heading span:last-child {
  color: rgb(0, 149, 246);
  font-weight: 500;
  letter-spacing: 0px;
  cursor: pointer;
}
.message-img img {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid var(--border-color);
}
.message-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 5px;
  cursor: pointer;
}
.message-flex:hover {
  background-color: #cacaca37;
  transition: all 0.2s linear;
  border-radius: 5px;
}
.person-detail {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}
.person-detail span {
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0px;
}
.person-detail span:nth-child(2) {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.msg-icon {
  padding-right: 5px;
}
.opponentchat {
  border-radius: 15px 0px 15px 0px;
  box-sizing: border-box;
  border: 1px solid #cccccc8f;
  padding: 15px;
  color: black;
  text-align: start;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  width: 70%;
}
.mychat {
  border-radius: 0px 15px 0px 15px;
  box-sizing: border-box;
  border: 1px solid #cfcfcf63;
  padding: 10px;
  text-align: end;
  color: #f2f2f2;
  background: #2604a3f5;
  width: 60%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  display: flex;
  margin-left: auto;
}
.update-chat {
  border-radius: 0px 10px 0px 10px;
  box-sizing: border-box;
  border: 1px solid #cfcfcf63;
  padding: 10px;
  float: right;
  text-align: end;
  color: #f2f2f2;
  background: #2604a3f5;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  word-break: break-all;
}
.new-data {
  display: flex;
  justify-content: end;
}
.new-data svg {
  font-size: 25px;
  color: red;
  position: relative;
  right: 2px;
  bottom: 5px;
  cursor: pointer;
}
.modal-content {
  height: 80vh;
}
.modal-header {
  height: 70px;
}
.modal-footer {
  height: 70px;
}
.modal-body {
  height: calc(90vh - (70px + 70px));
  overflow: auto;
  overflow-y: scroll;
}
.MuiDrawer-paper {
  z-index: 1000 !important;
}
.chat-icon svg {
  color: white;
}
.theme-icon svg {
  font-size: 53px;
  background-color: #1e008b;
  border-radius: 50%;
  padding: 13px;
  color: #f9f9f9;
  position: fixed;
  bottom: 40px;
  right: 40px;
  cursor: pointer;
  z-index: 10000;
  border: 1px solid #bababa5c;
}

.main-post {
  background-color: var(--mainbg-color);
}
.social-icon svg {
  color: var(--span-color);
}
.css-1eed5fa-MuiInputBase-root-MuiInput-root::before {
  border-bottom: 1px solid var(--span-color) !important;
}
#standard-basic-label {
  color: var(--comment-color);
}
.message-section {
  background-color: var(--mainbg-color);
  border-left: 1px solid var(--line-color);
}
.offcanvas-section {
  border-right: 1px solid var(--line-color);
}
.offcanvas-title div {
  color: var(--span-color);
  cursor: pointer;
}
.swiper-slide {
  cursor: pointer;
  text-align: center;
}
.css-mbp0na {
  display: none;
}
.btn-close:focus {
  box-shadow: none !important;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.sun-icon {
  animation: rotate 2s linear infinite;
}
.responsive-appbar {
  display: none;
}

@media only screen and (max-width: 600px) {
  .responsive-div {
    display: none;
  }
  .offcanvas-header {
    padding-bottom: 0px !important;
  }

  .mySwiper {
    margin: 70px 0px 0px 0px;
  }

  .messageicon {
    display: block;
  }
  .post-section {
    width: 100%;
  }
  .main-post {
    padding: 0px !important;
  }
  .desktop-offcanvas-header button {
    display: block;
    background-color: white;
  }
  .edit-icon {
    display: none;
  }
  .desktop-offcanvas-header {
    padding: 0px 15px !important;
    height: 40px;
    margin-top: 70px;
  }
  .message-img img {
    height: 50px;
    width: 50px;
  }
  .person-detail span:nth-child(2) {
    font-size: 13px;
  }
  .person-detail span {
    font-size: 16px;
  }
  .message-flex {
    padding: 10px 0px;
  }
  .message-heading {
    padding: 15px 0px;
  }
  .modal-dialog {
    margin-top: 65px !important;
  }
  .likes-icon {
    padding: inherit;
  }
  .post-section .brand span {
    font-size: 12px;
  }
  .post-section .brand {
    font-size: 14px;
  }
  .opponentchat {
    width: 90%;
  }
  .mychat {
    width: 90%;
  }
  .theme-icon svg {
    bottom: 25px;
    right: 25px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .messageicon {
    display: block;
  }
  .mySwiper {
    margin: 70px 0px 0px 0px;
  }
  .desktop-offcanvas-header {
    padding: 0px 15px !important;
    height: 40px;
    margin-top: 70px;
  }
  .responsive-appbar {
    width: 100% !important;
  }
  .desktop-offcanvas-header button {
    display: block;
    background-color: white;
  }
  .edit-icon {
    display: none;
  }
  .modal-dialog {
    margin-top: 90px !important;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .modal-dialog {
    margin-top: 90px !important;
  }
  .responsive-appbar {
    width: 100% !important;
  }
  .mySwiper {
    margin: 70px 0px 0px 0px;
  }
  .messageicon {
    display: block;
  }
  .desktop-offcanvas-header {
    padding: 0px 15px !important;
    height: 40px;
    margin-top: 70px;
  }
  .edit-icon {
    display: none;
  }
  .desktop-offcanvas-header button {
    display: block;
    background-color: white;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .responsive-appbar {
    display: none !important;
  }
  .message-flex {
    gap: 0px;
  }
  .MuiDrawer-docked {
    display: block !important;
  }
  .css-hmgdtt-MuiDrawer-docked .MuiDrawer-paper {
    width: 200px !important;
  }
}
